<!-- Modal Dialogs ====================================================================================================================== -->
<!-- Default Size -->
<div class="modal fade" id="generateUserModal" tabindex="-1" role="dialog">
 <form id="sign_up" method="POST">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">ข้อมูลสำหรับสมาชิก</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">URL :</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" id="input_url" name="input_url" placeholder="URL" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</form>
</div>